<h2>تفاصيل الحجز</h2>

<p>العميل: {{ booking.user }}</p>
<p>الغرفة: {{ booking.room_id }}</p>
<p>الحالة: {{ booking.get_status_display }}</p>

{% if booking.wallet_save_url %}
<p><a href="{{ booking.wallet_save_url }}">رابط بطاقة NFC</a></p>
{% endif %}

{% if booking.status == "pending" %}
    <a href="{% url 'dashboard_booking_confirm' booking.id %}">✔ تأكيد الحجز</a>
{% endif %}

{% if booking.status != "cancelled" %}
    <a href="{% url 'dashboard_booking_cancel' booking.id %}">✖ إلغاء الحجز</a>
{% endif %}
